<div class="post-container">
  <%= link_to "< Back to posts", :back, class: "back" %>
</div>

<div class="new-post">
  <%= form_for @post do |form| %>
    <div><%= form.label :message, "Add your new message", class: "post-form-label" %></div>
    <div><%= form.text_area :message, class: "post-form-textarea" %></div>
    <div><%= form.submit "Cast it!", class: "post-form-submit" %></div>
  <% end %>
</div>
