<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
    <title>PlaiceBook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
  <footer>
    <p>&copy; PlaiceBook 2019</p>
    <p>"<a href="https://thenounproject.com/term/plaice/332211">Plaice</a>" icon by Örn Smári Gíslason from <a href= https://thenounproject.com/>the Noun Project</a></p>
  </footer>
</html>
